/* Estilo geral da seção */
.container-cards-clima {
  display: flex;      /* cards filhos lado a lado */
  flex-direction: column;
  gap: 7px;           /* espaçamento entre cards */
  flex-wrap: wrap;    /* quebra linha se necessário */
  justify-content: flex-start; /* ou center */
}
.container-cards-temperatura-umidade {
  display: flex;      /* cards filhos lado a lado */
  flex-direction: column;
  gap: 7px;           /* espaçamento entre cards */
  flex-wrap: wrap;    /* quebra linha se necessário */
  justify-content: flex-start; /* ou center */
}
.container-cards-combined {
  display: flex;        /* deixa os dois tipos de cards lado a lado */
  flex-wrap: wrap;      /* quebra linha se não couber */
  gap: 20px;            /* espaço entre temperatura e chuva */
  justify-content: center;
  align-items: flex-start; /* alinha topo dos cards */
}

/* Estilo do Card Individual */
.cartao-dia {
  background-color: #ffffff; /* Fundo branco ou claro */
  border-radius: 12px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para levantar o card */
  padding: 10px;

  width: 120px; /* Largura fixa do card */
  text-align: center;
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center;
  transition: transform 0.2s; /* Animação suave ao passar o mouse */
  border: 1px solid #e0e0e0; /* Borda sutil */
}
.cartao-dia-temperatura-umidade {
  background-color: #ffffff; /* Fundo branco ou claro */
  border-radius: 12px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para levantar o card */
  padding: 10px;

  
  width: 120px; /* Largura fixa do card */
  height: 147px;
  text-align: center;
  display:flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items:center;
  transition: transform 0.2s; /* Animação suave ao passar o mouse */
  border: 1px solid #e0e0e0; /* Borda sutil */
}

/* Efeito ao passar o mouse (hover) */
.cartao-dia:hover {
  transform: translateY(-5px); /* Move o card um pouco para cima */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

/* Estilo para a imagem dentro do card */
.cartao-dia img {
  width: 40px; /* Aumente o tamanho da imagem */
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Estilo para os textos (data e classificação) */
.data-classificacao {
  font-weight: bold;
  font-size: 0.8em;
  color: #333333;
}

/* Estilo para os detalhes (total e max horário) */
.detalhes {
  font-size: 0.8em;
  color: #666666;
  margin-top: 8px;
}
.detalhes2 {
  
  display: inline-flex;
  align-items: center; /* alinha imagem com o texto */
  gap: 6px;            /* espaço entre ícone e número */
  font-size: 1em;
  color: #333333;
  margin-top: 8px;
}